.beian {
  line-height: 2rem;
  img {
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom:  1.5rem;
  }
}

.about {
  text-align: center;
  background-color: #333;
  color: white;
  padding: 20px 0px 0px 0px;
  margin: 0;
  fa-icon {
    display: inline-block;
    width: 30px;
    text-align: center;
  }
  span {
    display: inline-block;
    width: 100px;
    text-align: right;
  }
}