<div class="container">
  <div class="row footer" *ngIf="company">
    <div class="col-12">
      <p>
        2006-2013 {{ "COPYRIGHTS" | translate }} &copy;
        {{ company.name }} &trade;
      </p>
    </div>
    <div class="col-md-6 col-sm-12 text-left">
      <p>
        <span
          ><fa-icon [icon]="faMapMarker"></fa-icon
          >{{ company.address.key }}</span
        >{{ company.address.value }}
      </p>
      <p>
        <span><fa-icon [icon]="faPhone"></fa-icon>{{ company.phone.key }}</span
        >{{ company.phone.value }}
      </p>
      <p>
        <span><fa-icon [icon]="faFax"></fa-icon>{{ company.fax.key }}</span
        >{{ company.fax.value }}
      </p>
    </div>
    <div class="col-md-6 col-sm-12">
      <p class="text-left">
        <a href="/admin">{{ "ADMIN-ENTRANCE" | translate }}</a
        ><br />
        {{ "TECH-SUPPORT" | translate
        }}<a href="https://t1bao.com">{{ "TECH-SUPPORTER" | translate }}</a
        ><br />
        {{ "STATISTICS" | translate
        }}<a href="aaa"><img src="assets/images/cnzz.gif"/></a>
      </p>
    </div>
  </div>
</div>

<div class="container beian" *ngIf="beian">
  <div class="row">
    <div class="col-12 text-center">
      <img src="{{ beian.image }}" />
      <a
        class="text-decoration-none text-muted"
        href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode={{
          beian.code
        }}"
        *ngIf="beian"
      >
        {{ beian.authority }}
        {{ beian.code }}号</a
      >
    </div>
  </div>
</div>
