<div class="container">
  <div class="row about ">
    <div class="col-12">
      <p>2006-2013 版权所有 &copy; 浙江瑞宏塑胶有限公司 &trade;</p>
    </div>
    <div class="col-8 text-left">
      <p>
        <fa-icon [icon]="faMapMarker"></fa-icon>
        <span>地址：</span>浙江省天台县福溪街道下王邱村<br/>
        <fa-icon [icon]="faPhone"></fa-icon>
        <span>联系电话：</span>+86-576-83882759<br/>
        <fa-icon [icon]="faFax"></fa-icon>
        <span>传真：</span>+0086-576-83989636<br/>
      </p>
    </div>
    <div class="col-4">

      <p>
        <a href="/admin">网站管理</a>&nbsp;&nbsp; 技术支持:&nbsp;&nbsp;
        <a href="/tech-support"></a>&nbsp;&nbsp; 浏览统计：
        <script
          src="http://s73.cnzz.com/stat.php?id=1087207&web_id=1087207&show=pic"
          language="JavaScript"
          charset="gb2312"
        ></script>
      </p>
    </div>
    <div class="col-4"></div>
  </div>
</div>

<div class="container beian">
  <div class="row">
    <div class="col-12 text-center">
      <img src="/assets/images/beian.png"/>
      <a
        class="text-decoration-none text-muted"
        href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode={{
          beian.code
        }}"
      >
        {{ beian.authority }}
        {{ beian.code }}号</a
      >
    </div>
  </div>
</div>