<div class="container">
  <h1 class="border-left">
    <a name="info"></a>{{ "NAV-CONTACT" | translate }}
  </h1>
  <div class="row info">
    <div class="col-12">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <th scope="row">{{ contact.phone.key }}</th>
            <td>{{ contact.phone.value }}</td>
          </tr>
          <tr>
            <th scope="row">{{ contact.fax.key }}</th>
            <td>{{ contact.phone.value }}</td>
          </tr>
          <tr>
            <th scope="row">{{ contact.address.key }}</th>
            <td>{{ contact.address.value }}</td>
          </tr>
          <tr>
            <th scope="row">{{ contact.email.key }}</th>
            <td>{{ contact.email.value }}</td>
          </tr>
          <tr>
            <th scope="row">{{ contact.homepage.key }}</th>
            <td>
              <a href="{{ contact.homepage.value }}">{{
                contact.homepage.value
              }}</a>
            </td>
          </tr>
          <tr>
            <th scope="row">{{ contact.map.key }}</th>
            <td>
              <div id="map">
                <img src="/assets/images/map.png" />
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
