<div class="container">
  <h1 class="border-left"><a name="info"></a>{{ "NAV-INFO" | translate }}</h1>
  <div class="row info">
    <div class="col-12">
      <table class="table table-borderless" *ngIf="intro">
        <caption>
          {{
            intro.company
          }}
        </caption>
        <tbody>
          <tr *ngFor="let item of intro.items; let i = index">
            <th scope="row">{{ item.key }}</th>
            <td>{{ item.value }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
