<div class="container">
  <h1 class="border-left">
    <a name="production"></a>{{ "NAV-PRODUCTS" | translate }}
  </h1>

  <div class="row">
    <div
      class="col-sm-12 col-md-4 text-center"
      *ngFor="let item of productions; let i = index"
    >
      <div class="card" [ngClass]="{ active: i == 0 }">
        <img
          src="{{ item.image }}"
          class="card-img-top"
          alt="{{ item.title }}"
        />
        <div class="card-body">
          <h5 class="card-title">{{ item.title }}</h5>
          <p class="card-text">{{ item.intro }}</p>
          <a href="{{ item.url }}" class="btn btn-primary">购买</a>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-12 text-right">
      <ul class="pagination justify-content-right">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
