<div class="tools d-none d-sm-block">
  <div class="btn-group-vertical">
    <a
      type="button"
      class="btn btn-outline-secondary "
      data-toggle="tooltip"
      data-placement="left"
      data-html="true"
      data-title="{{ item.tip }}"
      *ngFor="let item of tools"
    >
      <fa-icon
        title="{{ item.title }}"
        [ngClass]="item.class"
        [icon]="item.icon"
        *ngIf="item.icon"
      ></fa-icon>
      <img
        src="{{ item.image }}"
        title="{{ item.title }}"
        *ngIf="item.image"
      />
    </a>
  </div>
</div>

<div class="store d-none d-sm-block">
  <div class="btn-group-vertical">
    <a
      type="button"
      class="btn btn-outline-secondary "
      *ngFor="let item of shops"
      href="{{ item.url }}"
      target="_blank"
      title="{{ item.name }}"
    >
      <img src="{{ item.icon }}" />
    </a>
  </div>
</div>
